@charset "utf-8";
/* CSS Document */

.Page2_header1 {
	width:100%;
	height: 70px;
}

.Page2_header1 img {
	width:360px;
	height: 70px;
}

.Page2_open_button {
	background-color:red;
 	color: white;
  	padding: 16px 20px;
  	border: none;
  	cursor: pointer;
  	opacity: 0.8;
  	position: fixed;
  	right:7px;
  	top: 5px;
  	width:200px;
  	height: 70px;
  	font-size: 30px;
  	font-family: Tw Cen MT; 
  	position: absolute;	
  	border-radius: 10px;
}

.Page2_form_popup {
  	display: none;
  	position: fixed;
  	right: 8px;
  	border: 3px solid #f1f1f1;
  	top: 5px;
}

.Page2_form_container h1 {
	font-size: 45px;
	font-family: Tw Cen MT; 
}

.Page2_form_container label {
	font-size: 25px;
	font-family: Tw Cen MT; 
}

.Page2_form_container {
	max-width: 350px;
 	padding: 10px;
 	height: 470px;
 	right: 8px;
  	background-color: white;
}

.Page2_form_container input[type=text], .Page2_form_container input[type=password] {
  	width: 90%;
  	padding: 15px;
  	margin-top: 5px;
  	margin-bottom: 22px;
  	border: none;
  	background: #f1f1f1;
  	font-size: 18px;
}

.Page2_form_container input[type=text]:focus, .Page2_form_container input[type=password]:focus {
  	//background-color: blue;
  	outline: none;
}

.Page2_form_container .btn {
  	background-color:green;
  	color: white;
  	padding: 16px 20px;
  	border: none;
  	cursor: pointer;
  	width: 100%;
  	margin-bottom:15px;
  	margin-top: 10px;
  	opacity: 0.8;
  	font-size: 25px;
  	font-family: Tw Cen MT;
}

.Page2_form_container .cancel {
  	background-color:red;
  	color: white;
  	padding: 16px 20px;
  	border: none;
  	cursor: pointer;
  	width: 100%;
  	margin-bottom:25px;
  	opacity: 0.8;
  	font-size: 25px;
  	font-family: Tw Cen MT;
}

.Page2_form_container .cancel:hover, .btn:hover, .Page2_open_button:hover {
  opacity: 1;
}


.Page2_header2 {
	background-image: url(image/Home-header-6.png);
	background-size: 100% 100%;
	width:100%;
	height: 600px;
	padding-top: 30px; 
}

.Page2_header2_div1 {
	background-color: rgba(255,255,255,0.8);
	width: 600px;
	height: 320px;
	padding-top: 2px;
	padding-left: 40px;
	font-family: Tw Cen MT;
	font-size: 25px;
	margin-left: 30px;
	margin-top: 100px;
	border-radius: 20px;
}

.Page2_header_form-container {
	background-color: white;
	width: 80%;
	height: 850px;
	border-radius: 20px;
	padding:50px;
	margin-left: 20px;
	box-shadow: 0px 16px 32px 0px rgba(0,0,1,0.7);
}

.Page2_header_form-container label {
	font-family: Tw Cen MT;
	font-size: 30px;
}

.Page2_header_form-container input {
	font-family: Tw Cen MT;
	font-size: 30px;
	border: none;
	border-bottom: 2px solid red;
	text-align: left;
	margin-bottom:  15px;
	margin-top: 5px;
	width: 550px;
}

.Page2_header_form-container select {
	font-family: Tw Cen MT;
	font-size: 30px;
	border: 2px solid red;
	text-align: left;
	margin-bottom:  15px;
	margin-top: 5px;
	width: 550px;
}

.reset {
	font-family: Tw Cen MT;
	font-size: 30px;
	margin-top: 20px;
	background-color: red;
	border-radius: 10px;
	color: white;
	padding: 10px;
	height: 80px;
	width: 250px;
	margin-left: 0px;
	cursor: pointer;
	float: left;
}

.submit {
	font-family: Tw Cen MT;
	font-size: 30px;
	margin-top: 20px;
	background-color: red;
	border-radius: 10px;
	color: white;
	padding: 10px;
	height: 80px;
	width: 250px;
	margin-left: 50px;
	cursor: pointer;
	float: left;
}

.Page2_header_form-container button:hover {
	background-color: white;
	border: 2px red solid;
	color: red;
}

nav {
	background-color:#bfbfbf;
	width:100%;
	height: 75px;	
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Tw Cen MT;
	font-size: 30px;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 20px;
}

nav li a:hover {
	background-color: #808080;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

section {
	//background: red;
	width: 100%;
	height: 1000px;
}

section article {
	width: 60%;
	height: 980px;
	margin-left: 1%;
	margin-top: 10px;
	float: left;
}

section	aside {
	width: 37%;
	height: 980px;
	margin-left: 1%;
	margin-top: 10px;
	float: left;
}

aside img {
	width: 90%;
	height: 370px;
	margin-left: 5%;
	border-radius: 15px;
}

.aside-div2 {
	width: 90%;
	height: 100px;
	font-size: 25px;
  	font-family: Tw Cen MT;
  	padding-left: 5%;
  	text-align: justify;
  	margin-top: 10px;
}

@media screen and (max-width: 1200px){
	
	aside {
		display: none;
	}

	li {
		width: 100%;
	}

	nav {
		height: 372px;
	}

	section	{
		height: 900px;
	}

	section article {
		height: 800px;
	}

	section aside {
		height: 900px;
	}

	.Page2_header_form-container{
		width: 1000px;
		height: 750px;
	}

	.Page2_header_form-container label {
		float: left;
		width: 40%;
		height: 30px;
		margin-top: 25px; 
	}

	.reset {
		width: 450px;
	}

	.submit {
		width: 450px;
	}
}

footer {
	width: 100%;
	height: 70px;
}

footer figure {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
}

footer figure img {
	max-width: 100%;
	border-radius: 10px;
}